@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes place {
  0% {
    transform: scaleY(1.2);
    filter: brightness(300%);
    filter: hue-rotate(50deg);
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground overscroll-none;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
  * {
    @apply border-border;
  }

  /* Custom scrollbar styling. Thanks @pranathiperii. */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

@layer utilities {
  .title-gradient {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    animation: gradient 4s ease infinite;
    background-size: 200% 200%;
  }
  
  .title-gradient-mui {
    --tw-gradient-to: oklch(var(--accent-40)) var(--tw-gradient-to-position);
    --tw-gradient-from: oklch(var(--primary-50)) var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), oklch(var(--secondary-40))
      var(--tw-gradient-via-position), var(--tw-gradient-to);
  }
  
  .title-gradient-tw {
    --tw-gradient-to: oklch(var(--accent-400)) var(--tw-gradient-to-position);
    --tw-gradient-from: oklch(var(--primary-500)) var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), oklch(var(--secondary-400))
      var(--tw-gradient-via-position), var(--tw-gradient-to);
  }

  .border-grid {
    @apply border-border/30 dark:border-border;
  }

  .container-wrapper {
    @apply min-[1800px]:max-w-[1536px] min-[1800px]:border-x border-border/30 dark:border-border mx-auto w-full;
  }

  .container {
    @apply px-4 xl:px-6 2xl:px-4 mx-auto max-w-[1536px];
  }
}
