@tailwind base;
@tailwind components;
@tailwind utilities;

.home-gradient {
  --tw-gradient-to: oklch(var(--accent-100)) var(--tw-gradient-to-position);
  --tw-gradient-from: oklch(var(--primary-50)) var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), oklch(var(--primary-100))
    var(--tw-gradient-via-position), var(--tw-gradient-to);
  animation: gradient 8s ease infinite;
  background-size: 200% 200%;
  background-repeat: no-repeat;
}

.title-gradient {
  --tw-gradient-to: oklch(var(--secondary-700)) var(--tw-gradient-to-position);
  --tw-gradient-from: oklch(var(--accent-800)) var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), oklch(var(--secondary-500))
    var(--tw-gradient-via-position), var(--tw-gradient-to);
  animation: gradient 4s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes place {
  0% {
    transform: scaleY(1.2);
    filter: brightness(300%);
    filter: hue-rotate(50deg);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground overscroll-none;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
  * {
    @apply border-border;
  }

  /* Custom scrollbar styling. Thanks @pranathiperii. */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .border-grid {
    @apply border-border/30 dark:border-border;
  }

  .container-wrapper {
    @apply min-[1800px]:max-w-[1536px] min-[1800px]:border-x border-border/30 dark:border-border mx-auto w-full;
  }

  .container {
    @apply px-4 xl:px-6 2xl:px-4 mx-auto max-w-[1536px];
  }
}
